.display {
  background-color: black;
  color: white;
  width: 30%;
  height: 70%;
  border-radius: 1.5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.minipantalla {
  background-color: bisque;
  height: 30%;
  width: 90%;
  border-radius: 1em;
}
.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  box-sizing: border-box;
}
.operacion {
  background-color: bisque;
  font-family: "DS-Digital", sans-serif;
  font-size: 40px;
  text-align: right;
  width: 100%;
  height: 100%;
}
.clear {
  font-size: 30px;
  font-family: sans-serif;
  background-color: brown;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
}
.clear:hover {
  background-color: white;
  color: brown;
  cursor: pointer;
}
